<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>
    {% block title %}{% endblock %}
    </title>
    <script type="text/javascript" src="/static/ga.js"></script>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/static/site2.css"/>
    <link rel="stylesheet" type="text/css" media="print" href="/static/print.css"/>
    {% block extra %}{% endblock %}
</head>
<body>
    <div id="wrap">
        <div id="header">
            <div id="logo">
                <a href="/">
                    <img src="/static/oj-logo.gif" width="188"
                        height="52" alt="Online Judge"/></a></div>
            <div id="description">
            	{% if request.user.is_authenticated %}
            		Welcome! <a href="/user/{{request.user.username}}"><strong>{{request.user.username}}</strong></a>
            		<br/>
            		<a href="/message/{{request.user.username}">Message[0]</a>
            		<br/>
            		<a href="/signout">[Sign out]</a>
            		<br>
            	{% else %}
            		<a href="/register">Register</a> | <a href="/signin">Sign in</a>
            	{% endif %}
            </div>
        </div>
        <div id="nav">
            <ul>
                <li><a href="/admin">Home</a></li>
                <li><a href="/admin/news">News</a>
                    <ul>
                        <li><a href="/admin/news">News</a></li>
                        <li><a href="/admin/news/new">New News</a></li>
                    </ul>
                </li>
                <li><a href="/admin/problems">Problems</a>
                    <ul>
                        <li><a href="/admin/problems">Problem Set</a></li>
                        <li><a href="/admin/problem/new">New Problem</a></li>
                    </ul>
                </li>
                <li><a href="/admin/contests">Contests</a>
                    <ul>
                        <li><a href="/admin/contest/new">New Contest</a></li>
                        <li><a href="/admin/currentcontests">Current Contest</a></li>
                        <li><a href="/admin/pastcontests">Past Contest</a></li>
                    </ul>
                </li>
                <li><a href="/admin/rank">Users</a>
                </li>
                <li><a href="/admin/faq">FAQ</a>
                </li>
            </ul>
        </div>
        <hr/>
        <div id="main-body" class="home">
            <div id="content">
	            {% block main %}{% endblock main %}
            </div>
        </div>
        <!-- end #main-body -->
        <hr/>
        <div id="footer">
            <div class="copyright">
                <p>
                    Website content copyright © by OJ authors and contributors.
                </p>
                <br clear="both">
            </div>
        </div>
    </div>
    <!-- end #wrap -->
</body>
</html>
