{% extends "contest/base.html" %}
{% block title %}Discussion List{% endblock %}
{% block main %}
    <center><h1>Discussion List of <a href="/contest/{{contest.id}}">Test {{contest.id}}</a></h1></center>
    <table style="width:100%">
        <tr>
            <th style="width:10%">No.</th>
            <th style="width:45%">Title</th>
            <th style="width:15%">User</th>
            <th style="width:30%">Post Time</th>
        </tr>
        {% for d in discuss %}
        <tr>
            <td style="text-align:center">{{forloop.counter}}</td>
            <td>
                <a href="/contest/{{contest.id}}/webboard/{{d.id}}">{{d.title}}</a>
            </td>
            <td style="text-align:center">{{d.user.username}}</td>
            <td style="text-align:center">{{d.jointime|date:"Y-m-d H:i:s"}}</td>
        </tr>
        {% empty %}
        <p>There are now no post yet.</p>
        {% endfor %}
    </table>
    <form action="" method="post">
    <span style="visibility:hidden">{{form.contest_id}}</span>
    <table style="width:100%">
        <tr>
            <td style="width:20%; text-align:right">Contest: </td>
            <td>{{form.contest_id.value}}</td>
        </tr>
        <tr>
            <td style="text-align:right">Title: </td>
            <td>{{form.title}}</td>
        </tr>
        <tr>
            <td style="text-align:right">Content: </td>
            <td>{{form.content}}</td>
        </tr>
        <tr>
        <td></td><td><input type="submit" value="Post" class="btn"/></td>
        </tr>
    </table>
    </form>
{% endblock %}