{% extends "web/base.html" %}
{% block title %}{{problem.no}}:{{problem.title}}{% endblock %}
{% block main %}
<center><h1><a href="/problem/{{problem.no}}">{{problem.no}}:{{problem.title}}</a></h1></center>
<table style="width:100%; text-align:center">
    <tr>
        <td style="width:25%; text-align:right">
            <table style="width:100%; text-align:center">
                <tr>
                    <td style="width:65%; text-align:right">Accepted</td>
                    <td style="width:35%; text-align:center">{{problem.acnum}}</td>
                </tr>
                <tr>
                    <td style="text-align:right">Compile Error</td><td>{{problem.cenum}}</td>
                </tr>
                <tr>
                    <td style="text-align:right">Presentation Error</td><td>{{problem.penum}}</td>
                </tr>
                <tr>
                    <td style="text-align:right">Wrong Answer</td><td>{{problem.wanum}}</td>
                </tr>
                <tr>
                    <td style="text-align:right">Memory Limit Exceeded</td><td>{{problem.mlenum}}</td>
                </tr>
                <tr>
                    <td style="text-align:right">Time Limit Exceeded</td><td>{{problem.tlenum}}</td>
                </tr>
                <tr>
                    <td style="text-align:right">Output Limit Exceeded</td><td>{{problem.olenum}}</td>
                </tr>
                <tr>
                    <td style="text-align:right">Runtime Error</td><td>{{problem.renum}}</td>
                </tr>
                <tr>
                    <td style="text-align:right">Restricted Function</td><td>{{problem.rfnum}}</td>
                </tr>
                <tr>
                    <td style="text-align:right">Abnormal Termination</td><td>{{problem.atnum}}</td>
                </tr>
                <tr>
                    <td style="text-align:right">Internal Error</td><td>{{problem.ienum}}</td>
                </tr>
                <tr>
                    <td style="text-align:right">Submit</td><td>{{problem.submitnum}}</td>
                </tr>
            </table>
        </td>
        <td>
        <table style="width:100%; text-align:center">
        <tr>
            <th style="width:10%">Run ID</th>
            <th style="width:15%">User Name</th>
            <th style="width:10%">Result</th>
            <th style="width:10%">Time</th>
            <th style="width:10%">Memory</th>
            <th style="width:10%">Language</th>
            <th style="width:25%">Submit Time</th>
        </tr>
        {% for s in page.object_list %}
        <tr>
            <td>{{s.id}}</td>
            <td>
                <a href="/user/{{s.user.username}}" target="_blank">{{s.user.username}}</a>
            </td>
            <td>{{s.resultstring}}</td>
            <td>
                {% ifequal s.runtime -1 %}
                    --
                {% else %}
                    {{s.runtime}}MS
                {% endifequal %}
            </td>
            <td>
                {% ifequal s.runmem -1 %}
                    --
                {% else %}
					{% widthratio s.runmem 1024 1 %}KB
                {% endifequal %}
            </td>
            <td>
                {% ifequal request.user.username s.user.username %}
                    <a href="/code/{{s.id}}" target="_blank">{{s.compiler.lang}}</a>
                {% else %}
                    {{s.compiler.lang}}
                {% endifequal %}
            </td>
            <td>{{s.jointime|date:"Y-m-d H:i:s"}}</td>
        </tr>
        {% empty %}
        <p>There are now no submit yet.</p>
        {% endfor %}
    </table>
    <center>
    <p>
        <a href="/problem/{{problem.no}}/stat/1">First</a> | 
        {% if page.has_previous %}
        <a href="/problem/{{problem.no}}/stat/{{page.previous_page_number}}">Previous</a>
        {% else %}
        Previous
        {% endif %} | 
        {% if page.has_next %}
        <a href="/problem/{{problem.no}}/stat/{{page.next_page_number}}">Next</a>
        {% else %}
        Next
        {% endif %} | 
        <a href="/problem/{{problem.no}}/stat/{{pages.num_pages}}">Last</a>
    </p>
    <p>Page {{page.number}} of {{pages.num_pages}}</p>
    </center>
    </td>
    </tr>
</table>
{% endblock %}