{% extends "web/base.html" %}
{% block title %}Online Status{% endblock %}
{% block main %}
<form action="" method="post">
    <table style="width:100%; text-align:center">
        <tr>
            <td>Problem No.: {{form.problem_no}}</td>
            <td>User Name: {{form.user_name}}</td>
            <td>Language: {{form.lang}}</td>
            <td>Result: {{form.result}}</td>
            <td><input type="submit" value="Query" class="btn"/></td>
        </tr>
    </table>
</form>
    <table style="width:100%; text-align:center">
        <tr>
            <th style="width:10%">Run ID</th>
            <th style="width:15%">User Name</th>
            <th style="width:10%">Problem No.</th>
            <th style="width:10%">Result</th>
            <th style="width:10%">Time</th>
            <th style="width:10%">Memory</th>
            <th style="width:10%">Language</th>
            <th style="width:10%">Code Length</th>
            <th style="width:25%">Submit Time</th>
        </tr>
        {% for s in page.object_list %}
        <tr>
            <td>{{s.id}}</td>
            <td>
                <a href="/user/{{s.user.username}}" target="_blank">{{s.user.username}}</a>
            </td>
            <td><a href="/problem/{{s.problem.no}}">{{s.problem.no}}</a></td>
            <td>{{s.resultstring}}</td>
            <td>
                {% ifequal s.runtime -1 %}
                    --
                {% else %}
                    {{s.runtime}}MS
                {% endifequal %}
            </td>
            <td>
                {% ifequal s.runmem -1 %}
                    --
                {% else %}
					{% widthratio s.runmem 1024 1 %}KB
                {% endifequal %}
            </td>
            <td>
                {% ifequal request.user.username s.user.username %}
                    <a href="/code/{{s.id}}" target="_blank">{{s.compiler.lang}}</a>
                {% else %}
                    {{s.compiler.lang}}
                {% endifequal %}
            </td>
            <td>{{s.codelen}}B</td>
            <td>{{s.jointime|date:"Y-m-d H:i:s"}}</td>
        </tr>
        {% empty %}
        <p>There are now no submit yet.</p>
        {% endfor %}
    </table>
    <center>
    <p>
        <a href="/status/1">First</a> | 
        {% if page.has_previous %}
        <a href="/status/{{page.previous_page_number}}">Previous</a>
        {% else %}
        Previous
        {% endif %} | 
        {% if page.has_next %}
        <a href="/status/{{page.next_page_number}}">Next</a>
        {% else %}
        Next
        {% endif %} | 
        <a href="/status/{{pages.num_pages}}">Last</a>
    </p>
    <p>Page {{page.number}} of {{pages.num_pages}}</p>
    </center>
{% endblock %}